.mat-stepper-vertical {
    margin-top: 8px;
}
.mat-form-field {
    margin-top: 16px;
}
.response-types {
    display: flex;
    flex-direction: column;
    min-height: 105px;
    justify-content: space-evenly;
}
.back-button {
    margin-right: 5px;
}
.example-chip-list {
    width: 100%;
    margin-bottom: 5px;
}
