.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .example-section {
    margin: 12px 0;
  }

@media (max-width: 414px) {
  .mat-form-field {
    width: 162px;
  }
}