<div class="d-flex flex-column align-items-center create-survey">
    <mat-card class="card">
        <mat-card-title>Questionnaires</mat-card-title>
        <mat-card-subtitle>Make your own choices.</mat-card-subtitle>
        <mat-divider [inset]="true"></mat-divider>
        <ng-template *ngTemplateOutlet="!createSurveyClicked ? addQues : createdSurvey">
        </ng-template>
    </mat-card>
</div>

<ng-template #addQues>
    <mat-card-actions style="text-align: center;" *ngIf="!statusOk || !createSurveyClicked">
        <button mat-stroked-button color="primary" (click)="openQuestionnaireDialog()">
            Add a Questionnaire
        </button>
    </mat-card-actions>
    <mat-card-content>
        <app-questionnaire-list (quesDataArray)="quesDataFiller($event)">
        </app-questionnaire-list>
    </mat-card-content>
    <mat-card-footer *ngIf="questionnaires.length!==0" class="text-center mb-1">
        <button mat-raised-button color="primary" (click)="saveQuestionnaire()">
            Create the Survey
        </button>
    </mat-card-footer>
</ng-template>

<ng-template #createdSurvey>
    <mat-card-content>
        <ng-container *ngIf="!statusOk">
            <app-loading-page></app-loading-page>
        </ng-container>
        <div *ngIf="statusOk">
            <div>Survey Created, share this key.</div>
            <mat-card class="d-flex justify-content-between shared-key-show">
                <div class="d-flex align-items-center">Key: {{key}}</div>
                <button mat-icon-button [cdkCopyToClipboard]="key" (click)="copiedSuccessfully()">
                    <mat-icon>share</mat-icon>
                </button>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" (click)="mainPageNavHandler()">Go back to main page</button>
    </mat-card-actions>
</ng-template>