<form class="example-form" [formGroup]="surveyLoginForm" (ngSubmit)="submitLoginData()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
        <mat-error>
            Input is not valid.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Key</mat-label>
        <input type="text" matInput placeholder="Ex. MmsKus" formControlName="key">
        <mat-error>
            Input is not valid.
        </mat-error>
    </mat-form-field>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!surveyLoginForm.valid">Enter</button>
    </mat-card-actions>
</form>
<mat-error class="mt-2 mb-2 text-center"
    *ngIf="credentialValidity.loginClicked && credentialValidity.emailInValid || credentialValidity.keyInValid">
    Something is not right, I think {{credentialValidity.emailInValid ? 'Email' : credentialValidity.keyInValid ?
    'Key' : 'something'}} is not right.
</mat-error>